* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    color: #E4D3C3;
    background:#2a2a29;
  }
  
  /* Sidebar */
  .sidebar {
    width: 220px;
    padding: 24px;
    border-right: 1px solid #eee;
    position: fixed;
    height: 100vh;
    background: #4b4c49;
  }
  
  .sidebar h1 {
    margin-top: 0;
    font-size: 1.4em;
  }
  
  .sidebar nav a {
    display: block;
    margin: 12px 0;
    text-decoration: none;
    color: #E4D3C3;
  }
  
  .sidebar nav a:hover {
    text-decoration: underline;
  }
  
  /* Main content */
  .content {
    margin-left: 220px;
    padding: 40px;
    max-width: 1000px;
  }
  
  .section {
    margin-bottom: 80px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  /* Projects grid */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
    margin-top: 24px;
  }
  
  .project img {
    width: 100%;
    border-radius: 8px;
  }
  .inProjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
    margin-top: 24px;
  }
  .inProjects-grid img {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid rgb(159, 16, 16);
    border-radius: 8px;
  }
  
  .project h3 {
    margin: 12px 0 6px;
    font-size: 1em;
  }
  .project h3 a,
  .project h3 a:visited {
    color:#cdb9a6;
    text-decoration: underline;
  }
  
  .project p {
    font-size: 0.9em;
    color:#E4D3C3
  }
  /* contact */
  .contact p a,
  .contact p a:visited {
    color:#cdb9a6;
    text-decoration: underline;
  }
  .content p a,
  .content p a:visited{
    color:#cdb9a6;
    text-decoration: underline;
  }
  /* Mobile */
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  
    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid #eee;
    }
  
    .content {
      margin-left: 0;
      padding: 24px;
    }
  }